{% extends 'blog/base.html' %}
{% load bootstrap_toolkit %}
{% block title %} Login page {% endblock %}

{% block contenu %}
    <h1>Se connecter</h1>
    {% if error %}
        <p><strong>Utilisateur inexistant ou mauvais de mot de
            passe.</strong></p>
    {% endif %}
    {% if user.is_authenticated %}
    Vous êtes connecté, {{ user.username }} !
    {% else %}
        <form class="form-vertical" action="." method="post">
        {% csrf_token %}
        {{ form|as_bootstrap:'vertical' }}
        <input type="submit" value="Envoyer" class="btn btn-primary">
    </form>
    {% endif %}
{% endblock %}