{% extends 'blog/base.html' %}

{% block title %} Le Mouridisme {% endblock %}

{% block contenu %}
    <p>
        La portée de la voie tracée par Serigne Touba
        « Je n’ai point fondé une confrérie (TARIQA), j’ai plutôt trouvé la voie qu’avait scrupuleusement suivie
        le Prophète et ses compagnons entièrement flétrie, je l’ai défrichée le plus proprement, je l’ai également
        rénovée dans toute son originalité et lancé l’appel suivant : Tout pèlerin qui désire partir peut venir,
        voici la Voie réhabilitée ; cette voie est celle du pacte d’allégeance »  Cheikh Ahmadou Bamba
        Ces propos du fondateur du Cheikh ne laissent aucun doute sur sa mission et la raison fondamentale :
        la réhabilitation des valeurs culturelles de base de l’Islam dans le service du Meilleur des envoyés,
        Mouhamadou Rassouloulahi (PSL). Selon, toujours, le Serviteur du prophète, la voie qu’il réhabilitée est née
        de « la foi par le tawhid, la loi par le Fiq et la voie par le Taçawuf » et se fixe comme unique objectif la
        face de Dieu, le Très Haut, le Généreux.
        C’est ainsi que tous ceux qui ont répondu à l’appel sont désignés sous le terme de Mourid,
        autrement dit un aspirant à Dieu (Mouridul-Lâh). Il n’est, sans nul doute, point besoin de préciser que comme
        tout appel salvateur digne de ce nom, la Dahwah (Appel) du Cheikh ne saurait manquer de compter parmi ses brebis
        des loups qui, inconsciemment ou à dessein, amalgament mystique et mystification ou mythification. Tout  comme,
        à l’époque du Prophète (PSL), subsistaient les Hypocrites (Al Munaafiqoun) parmi les musulmans sincères et véridiques.
        Ces gens désirent faire passer le Cheikh pour un congé pour les prescrits divins et un permis de transgresser
        les proscrits divins et le soufisme pour maraboutisme.
    </p>
{% endblock %}